body {
    background: #6d6d931c;
}

.custom-menubar, .p-submenu-list {
    background-color: #4d4d83 !important;
}

.custom-menubar .p-menuitem-link,
.custom-menubar .p-menuitem-text,
.custom-menubar .pi ,
.custom-menubar .p-menubar-button {
    color: white !important;
}

.custom-menubar .p-menuitem-link:hover,
.custom-menubar .p-menuitem-text:hover,
.custom-menubar .pi:hover ,
.custom-menubar .p-menubar-button:hover, .custom-menubar .p-menuitem-link:focus-within {
   background-color: rgb(131 145 215 / 43%);
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: white !important;   
}

